/* Font */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Karla&display=swap");

/* Variables */
:root {
  --border: 0.15em solid rgb(255, 20, 189);
  --borderRadius: 0.5rem;
  --fontHeading: "Balsamiq Sans", cursive;
  --marginPadding: 1em;
  --backgroundColor: rgb(8, 11, 17);
}

/* CSS Reset */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(22, 20, 20);
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
}

/* Header */
header {
  box-sizing: border-box;
  padding: 3vh 0;
  margin: var(--marginPadding);
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  border: var(--border);
  font-family: var(--fontHeading);
}

/* Main */
/* About Myself */

#aboutMyself .box img {
  height: 5rem;
  margin: 5vh;
}

#aboutMyself h1 {
  text-align: center;
}

/* Utility Classes and some commo"Balsamiq Sans", n stuff */
li {
  list-style: none;
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-family: var(--fontHeading);
  font-size: 1.6rem;
}

h2 {
  font-family: var(--fontHeading);
  font-size: 1.2rem;
}

a {
  font-size: 1rem;
  color: white;
  margin-inline: 2vw;
  padding: 1vh 0.7vw;
  text-decoration: none;
}

a:hover {
  color: gray;
}

.footer-links a {
  font-size: 1.2rem;
  border: 2px solid rgb(255, 162, 96);
  border-radius: var(--borderRadius);
  color: rgb(255, 162, 96);
  padding-inline: var(--marginPadding);
}

.footer-links a:hover {
  border-color: rgb(255, 20, 189);
  color: white;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-coloumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  margin: var(--marginPadding);
  padding: var(--marginPadding);
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  border: var(--border);
}